.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select select {
  display: none;
}

.select-styled {
  position: relative;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 10px 15px;
  width: 150px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  height: 35px;
}

.select-styled:after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 10px;
  color: #666;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top: none;
  border-radius: 20px;
}

.select-options li {
  margin: 0;
  padding: 10px 15px;
  color: #333;
  cursor: pointer;
}

.select-options li:hover {
  background-color: #f0f0f0;
  border-bottom-right-radius: 0; /* Regular items */
}

.select-options li:first-child:hover {
  border-top-right-radius: 20px; /* Only lfirst item */
  border-top-left-radius: 20px; /* Only lfirst item */
}

.select-options li:last-child:hover {
  border-bottom-right-radius: 20px; /* Only last item */
  border-bottom-left-radius: 20px; /* Only last item */
}

.custom-select:hover .select-options {
  display: block;
}

.custom-select:hover .select-styled {
  border-radius: 20px;
}
